.Contact {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  background-color: #1a0b2e;
  width: 100%;
}

.Contact h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
}

.Contact h4,
.Contact h3 {
  display: flex;
  align-items: center;
}
.soc-media {
  display: flex;
  flex-direction: row;
}

.soc-media img {
  width: 50px;
  height: 50px;
}

@media screen and (width <= 1065px) {
  .soc-media img {
    width: 40px;
    height: 40px;
  }
  .Contact h3,
  .Contact h4 {
    font-size: 15px;
  }
}
@media screen and (width <= 400px) {
  .soc-media img {
    width: 25px;
    height: 25px;
  }
  .Contact h3,
  .Contact h4 {
    font-size: 10px;
  }
  .Contact h3 {
    letter-spacing: 0;
  }
}
