.education {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 80px;
}

.edu-title {
  display: flex;
  justify-content: center;
  color: #ffffff;
  letter-spacing: 5px;
}
.Edu-sircle {
  width: 550px;
  height: 560px;
  border-radius: 50%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #763cac 0%,
    rgba(50, 15, 133, 0) 100%
  );
}
.edu-card {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 360px;
  border-radius: 12px;
  padding: 30px;
  background-image: radial-gradient(
      90.16% 143.01% at 15.32% 21.04%,
      rgba(105, 59, 147, 0.2) 0%,
      rgba(110, 191, 244, 0.0447917) 77.08%,
      rgba(70, 144, 213, 0) 100%
    ),
    url("../../public/Card.png");
  background-size: cover;
  background-position: center;
}

.edu-card h3 {
  color: rgb(178, 192, 239);
}

.edu-card p {
  color: rgba(204, 214, 246, 1);
}

@media screen and (width <= 1133px) {
  .Edu-sircle {
    width: 500px;
    height: 510px;
  }
  .edu-card h3 {
    font-size: 18px;
  }
  .edu-card {
    width: 500px;
    height: 300px;
    padding: 20px;
  }
  .edu-card p {
    font-size: 14px;
  }
  .edu-title {
    font-size: 25px;
  }
}

@media screen and (width <= 1040px) {
  .Edu-sircle {
    width: 480px;
    height: 490px;
  }
  .edu-card h3 {
    font-size: 16px;
  }
  .edu-card {
    width: 450px;
    height: 250px;
    padding: 15px;
  }
  .edu-card p {
    font-size: 12px;
  }
}

@media screen and (width <= 890px) {
  .Edu-sircle {
    width: 420px;
    height: 430px;
  }
  .edu-card h3 {
    font-size: 13px;
  }
  .edu-card {
    width: 380px;
    height: 200px;
    padding: 6px;
  }
  .edu-card p {
    font-size: 11px;
    margin-top: -5px;
  }
  .edu-title {
    font-size: 25px;
  }
}

@media screen and (width <= 720px) {
  .Edu-sircle {
    width: 320px;
    height: 330px;
  }
}

@media screen and (width <= 620px) {
  .Edu-sircle {
    width: 300px;
    height: 310px;
  }
  .edu-title {
    font-size: 22px;
  }
}

@media screen and (width <= 580px) {
  .Edu-sircle {
    width: 280px;
    height: 290px;
  }
  .edu-card {
    width: 340px;
    height: 230px;
    padding: 6px;
  }
}

@media screen and (width <= 480px) {
  .Edu-sircle {
    width: 480px;
    height: 390px;
  }
  .edu-card {
    width: 210px;
    height: 280px;
    padding: 6px;
  }
  .edu-title {
    font-size: 16px;
    letter-spacing: 2px;
  }
}
