.projects {
  margin-top: 200px;
  position: relative;
  padding: 80px;
  height: 800px;
}

.bg-sircle {
  display: flex;
  position: absolute;
  top: -200px;
  left: -90px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  z-index: 0;
}

.sircle {
  width: 525px;
  height: 600px;
  border-radius: 50%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #763cac 0%,
    rgba(50, 15, 133, 0) 100%
  );
  margin-top: 100px;
  position: absolute;
}

.gradient-left {
  top: 50px;
  right: 50px;
}
.gradient-right {
  top: 50px;
  right: 300px;
}
.project-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  position: relative;
  z-index: 1;
}

.text-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  margin-left: 100px;
}

.p-title {
  color: rgba(152, 87, 211, 1);
}
.p-title2 {
  margin-top: 10px;
  color: rgba(204, 214, 246, 1);
}

.description-box {
  background: radial-gradient(
    90.16% 143.01% at 15.32% 21.04%,
    rgba(105, 59, 147, 0.2) 0%,
    rgba(110, 191, 244, 0.0447917) 77.08%,
    rgba(70, 144, 213, 0) 100%
  );
  width: 100%;
  height: auto;
  min-height: 165px;
  border-radius: 14px;
  padding: 20px;
}

.description {
  color: rgba(204, 214, 246, 1);
  font-size: 14px;
  font-weight: 500;
}

.click-img {
  display: flex;
  gap: 17px;
  margin-top: 20px;
}

.project-preview {
  position: relative;
  width: 560px;
  height: 340px;
  border-radius: 15px;
  background-color: #2b0b3a;
}

.project-preview img {
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 530px;
  height: 300px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
