.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 200px;
}

.skills-title {
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 12px;
}

.skills-img {
  width: 795px;
}
